<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.labservice.demo.mapper.PeopleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.labservice.demo.entity.People">
        <id column="pid" property="pid" />
        <result column="num" property="num" />
        <result column="pname" property="pname" />
        <result column="plimit" property="plimit" />
        <result column="account" property="account" />
        <result column="passwd" property="passwd" />
        <result column="scid" property="scid" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        pid, num, pname, plimit, account, passwd, scid
    </sql>

</mapper>
