<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.labservice.demo.mapper.PeopleinfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.labservice.demo.entity.Peopleinfo">
        <result column="pid" property="pid" />
        <result column="num" property="num" />
        <result column="account" property="account" />
        <result column="scname" property="scname" />
        <result column="pname" property="pname" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        pid, num, account, scname, pname
    </sql>

</mapper>
