<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.labservice.demo.mapper.PplinfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.labservice.demo.entity.Pplinfo">
        <result column="pname" property="pname" />
        <result column="num" property="num" />
        <result column="proname" property="proname" />
        <result column="pnum" property="pnum" />
        <result column="lname" property="lname" />
        <result column="stat" property="stat" />
        <result column="pplid" property="pplid" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        pname, num, proname, pnum, lname, stat, pplid
    </sql>

</mapper>
