<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.labservice.demo.mapper.PplMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.labservice.demo.entity.Ppl">
        <id column="pplid" property="pplid" />
        <result column="pid" property="pid" />
        <result column="pnum" property="pnum" />
        <result column="lid" property="lid" />
        <result column="stat" property="stat" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        pplid, pid, pnum, lid, stat
    </sql>

</mapper>
